<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Canibal_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,180},{32,36}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>Canibal_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,252},{30,38}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>Canibal_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,74},{30,40}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>Canibal_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,72},{32,38}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>Canibal_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,290},{30,38}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>Canibal_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,112},{30,32}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>Canibal_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,216},{32,36}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>Canibal_0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,110},{32,38}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>Canibal_0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,0},{32,40}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>Canibal_0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,328},{30,38}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>Canibal_0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,74},{31,38}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>Canibal_0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,402},{32,32}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>Canibal_0067.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,366},{30,36}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>Canibal_0068.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,252},{30,34}}</string>
				<key>offset</key>
				<string>{-5,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>Canibal_0073.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{40,34}}</string>
				<key>offset</key>
				<string>{10,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>Canibal_0077.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,180},{30,34}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>Canibal_0078.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,318},{26,32}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>Canibal_0079.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,114},{34,32}}</string>
				<key>offset</key>
				<string>{7,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>Canibal_0080.png</key>
			<dict>
				<key>frame</key>
				<string>{{38,146},{34,30}}</string>
				<key>offset</key>
				<string>{7,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>Canibal_0081.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,214},{30,32}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>Canibal_0083.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,68},{30,32}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>Canibal_0085.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,0},{30,30}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>Canibal_0086.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,0},{30,32}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>Canibal_0087.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,286},{28,32}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>Canibal_0124.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,0},{34,38}}</string>
				<key>offset</key>
				<string>{-8,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>Canibal_0125.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,34},{34,38}}</string>
				<key>offset</key>
				<string>{-11,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>Canibal_0126.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,38},{34,36}}</string>
				<key>offset</key>
				<string>{-13,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>Canibal_0127.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,148},{38,32}}</string>
				<key>offset</key>
				<string>{-15,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>Canibal_0128.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,32},{38,24}}</string>
				<key>offset</key>
				<string>{-16,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>Canibal_0130.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,40},{38,28}}</string>
				<key>offset</key>
				<string>{-16,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Canibal.png</string>
			<key>realTextureFileName</key>
			<string>Canibal.png</string>
			<key>size</key>
			<string>{166,434}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>166</integer>
			<key>height</key>
			<integer>434</integer>
		</dict>
	</dict>
</plist>