<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hero_artillery_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,804},{40,38}}</string>
				<key>offset</key>
				<string>{1,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,770},{42,38}}</string>
				<key>offset</key>
				<string>{1,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,268},{42,42}}</string>
				<key>offset</key>
				<string>{1,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,402},{42,42}}</string>
				<key>offset</key>
				<string>{1,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,354},{42,40}}</string>
				<key>offset</key>
				<string>{1,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,904},{42,36}}</string>
				<key>offset</key>
				<string>{1,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,842},{40,38}}</string>
				<key>offset</key>
				<string>{1,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,652},{44,38}}</string>
				<key>offset</key>
				<string>{2,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,490},{46,38}}</string>
				<key>offset</key>
				<string>{3,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,444},{46,38}}</string>
				<key>offset</key>
				<string>{3,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,776},{56,46}}</string>
				<key>offset</key>
				<string>{6,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0022.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,0},{76,46}}</string>
				<key>offset</key>
				<string>{14,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0024.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,0},{78,46}}</string>
				<key>offset</key>
				<string>{14,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0026.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{78,48}}</string>
				<key>offset</key>
				<string>{15,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0028.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,120},{76,40}}</string>
				<key>offset</key>
				<string>{15,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0030.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,160},{74,40}}</string>
				<key>offset</key>
				<string>{16,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0034.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,596},{36,38}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0036.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,518},{36,38}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0038.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,480},{36,38}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0045.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,528},{40,40}}</string>
				<key>offset</key>
				<string>{-1,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0047.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,916},{42,48}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0049.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,932},{46,50}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0051.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,822},{46,52}}</string>
				<key>offset</key>
				<string>{2,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0053.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,874},{46,50}}</string>
				<key>offset</key>
				<string>{3,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0055.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,866},{44,50}}</string>
				<key>offset</key>
				<string>{3,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0056.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,968},{44,50}}</string>
				<key>offset</key>
				<string>{4,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0059.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,480},{37,38}}</string>
				<key>offset</key>
				<string>{-1,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0061.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,558},{37,38}}</string>
				<key>offset</key>
				<string>{-1,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0063.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,596},{37,38}}</string>
				<key>offset</key>
				<string>{-1,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0070.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,568},{40,40}}</string>
				<key>offset</key>
				<string>{-2,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0072.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,982},{50,40}}</string>
				<key>offset</key>
				<string>{1,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0074.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,822},{52,44}}</string>
				<key>offset</key>
				<string>{1,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0076.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,924},{52,44}}</string>
				<key>offset</key>
				<string>{2,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0078.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,968},{50,44}}</string>
				<key>offset</key>
				<string>{2,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0082.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,946},{40,38}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0084.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,690},{42,38}}</string>
				<key>offset</key>
				<string>{1,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0086.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,728},{42,38}}</string>
				<key>offset</key>
				<string>{1,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0088.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,906},{40,38}}</string>
				<key>offset</key>
				<string>{1,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0090.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,984},{40,38}}</string>
				<key>offset</key>
				<string>{1,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0092.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,944},{40,38}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0094.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,982},{40,38}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0096.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,684},{40,38}}</string>
				<key>offset</key>
				<string>{1,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0098.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,634},{37,38}}</string>
				<key>offset</key>
				<string>{-1,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0100.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,528},{42,40}}</string>
				<key>offset</key>
				<string>{2,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0105.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,722},{40,38}}</string>
				<key>offset</key>
				<string>{1,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0107.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,522},{40,36}}</string>
				<key>offset</key>
				<string>{1,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0109.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,122},{40,74}}</string>
				<key>offset</key>
				<string>{-2,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0110.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,120},{40,74}}</string>
				<key>offset</key>
				<string>{-2,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0111.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,196},{40,74}}</string>
				<key>offset</key>
				<string>{-2,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0112.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,194},{40,74}}</string>
				<key>offset</key>
				<string>{-2,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0113.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,200},{40,74}}</string>
				<key>offset</key>
				<string>{-2,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0114.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,270},{40,74}}</string>
				<key>offset</key>
				<string>{-2,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0115.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,344},{40,74}}</string>
				<key>offset</key>
				<string>{-2,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0116.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,418},{40,72}}</string>
				<key>offset</key>
				<string>{-2,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0117.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,490},{40,72}}</string>
				<key>offset</key>
				<string>{-2,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0118.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,562},{40,72}}</string>
				<key>offset</key>
				<string>{-2,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0119.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,634},{40,72}}</string>
				<key>offset</key>
				<string>{-2,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0120.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,706},{40,70}}</string>
				<key>offset</key>
				<string>{-2,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0121.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,316},{40,46}}</string>
				<key>offset</key>
				<string>{-2,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0122.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,482},{40,40}}</string>
				<key>offset</key>
				<string>{1,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0133.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,760},{40,38}}</string>
				<key>offset</key>
				<string>{1,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0135.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,798},{40,38}}</string>
				<key>offset</key>
				<string>{1,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0137.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,440},{40,40}}</string>
				<key>offset</key>
				<string>{1,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0148.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,568},{42,40}}</string>
				<key>offset</key>
				<string>{2,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0149.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,690},{40,40}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0151.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,608},{38,44}}</string>
				<key>offset</key>
				<string>{-1,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0153.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,444},{38,46}}</string>
				<key>offset</key>
				<string>{-1,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0160.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,874},{40,58}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0162.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,46},{44,74}}</string>
				<key>offset</key>
				<string>{-2,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0164.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,48},{44,74}}</string>
				<key>offset</key>
				<string>{-2,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0166.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,0},{44,76}}</string>
				<key>offset</key>
				<string>{-2,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0168.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,46},{44,74}}</string>
				<key>offset</key>
				<string>{-1,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0170.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,46},{40,76}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0173.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,608},{44,38}}</string>
				<key>offset</key>
				<string>{-4,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0175.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,402},{46,38}}</string>
				<key>offset</key>
				<string>{-4,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0177.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,804},{38,40}}</string>
				<key>offset</key>
				<string>{2,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0178.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,866},{38,40}}</string>
				<key>offset</key>
				<string>{2,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0180.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,940},{38,38}}</string>
				<key>offset</key>
				<string>{2,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0182.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,906},{38,40}}</string>
				<key>offset</key>
				<string>{2,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0191.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,836},{40,38}}</string>
				<key>offset</key>
				<string>{-1,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0193.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,646},{41,38}}</string>
				<key>offset</key>
				<string>{-3,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0195.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,766},{41,38}}</string>
				<key>offset</key>
				<string>{-3,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0196.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,274},{46,42}}</string>
				<key>offset</key>
				<string>{5,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0198.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,362},{46,40}}</string>
				<key>offset</key>
				<string>{4,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0200.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,316},{48,38}}</string>
				<key>offset</key>
				<string>{4,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0202.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,730},{40,40}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0207.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,978},{38,38}}</string>
				<key>offset</key>
				<string>{-7,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0208.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,558},{37,38}}</string>
				<key>offset</key>
				<string>{-10,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0209.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,634},{38,34}}</string>
				<key>offset</key>
				<string>{-12,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0210.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,874},{36,30}}</string>
				<key>offset</key>
				<string>{-13,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0211.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,844},{36,22}}</string>
				<key>offset</key>
				<string>{-14,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>hero_artillery_0213.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,880},{36,26}}</string>
				<key>offset</key>
				<string>{-15,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hero_artillery.png</string>
			<key>realTextureFileName</key>
			<string>hero_artillery.png</string>
			<key>size</key>
			<string>{276,1022}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>276</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>