<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>CanibalBoos_Offspring_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,56},{54,52}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,80}</string>
			</dict>
			<key>CanibalBoos_Offspring_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,0},{54,62}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,80}</string>
			</dict>
			<key>CanibalBoos_Offspring_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,0},{58,64}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,80}</string>
			</dict>
			<key>CanibalBoos_Offspring_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,170},{62,62}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,80}</string>
			</dict>
			<key>CanibalBoos_Offspring_0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,0},{62,56}}</string>
				<key>offset</key>
				<string>{4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,80}</string>
			</dict>
			<key>CanibalBoos_Offspring_0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,58},{54,50}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,80}</string>
			</dict>
			<key>CanibalBoos_Offspring_0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,64},{54,44}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,80}</string>
			</dict>
			<key>CanibalBoos_Offspring_0031.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,0},{64,56}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,80}</string>
			</dict>
			<key>CanibalBoos_Offspring_0033.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,116},{61,64}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,80}</string>
			</dict>
			<key>CanibalBoos_Offspring_0038.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,70},{62,66}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,80}</string>
			</dict>
			<key>CanibalBoos_Offspring_0040.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,0},{62,70}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,80}</string>
			</dict>
			<key>CanibalBoos_Offspring_0042.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,0},{66,70}}</string>
				<key>offset</key>
				<string>{-3,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,80}</string>
			</dict>
			<key>CanibalBoos_Offspring_0044.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,0},{68,70}}</string>
				<key>offset</key>
				<string>{-3,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,80}</string>
			</dict>
			<key>CanibalBoos_Offspring_0046.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{84,60}}</string>
				<key>offset</key>
				<string>{11,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,80}</string>
			</dict>
			<key>CanibalBoos_Offspring_0048.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,0},{84,60}}</string>
				<key>offset</key>
				<string>{11,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,80}</string>
			</dict>
			<key>CanibalBoos_Offspring_0049.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,54},{84,50}}</string>
				<key>offset</key>
				<string>{11,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,80}</string>
			</dict>
			<key>CanibalBoos_Offspring_0050.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,60},{84,56}}</string>
				<key>offset</key>
				<string>{11,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,80}</string>
			</dict>
			<key>CanibalBoos_Offspring_0051.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,60},{84,56}}</string>
				<key>offset</key>
				<string>{11,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,80}</string>
			</dict>
			<key>CanibalBoos_Offspring_0052.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,0},{84,54}}</string>
				<key>offset</key>
				<string>{11,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,80}</string>
			</dict>
			<key>CanibalBoos_Offspring_0053.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,116},{74,54}}</string>
				<key>offset</key>
				<string>{6,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,80}</string>
			</dict>
			<key>CanibalBoos_Offspring_0056.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,70},{68,60}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,80}</string>
			</dict>
			<key>CanibalBoos_Offspring_0060.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,0},{62,58}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,80}</string>
			</dict>
			<key>CanibalBoos_Offspring_0062.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,102},{66,48}}</string>
				<key>offset</key>
				<string>{6,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,80}</string>
			</dict>
			<key>CanibalBoos_Offspring_0064.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,130},{68,44}}</string>
				<key>offset</key>
				<string>{7,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,80}</string>
			</dict>
			<key>CanibalBoos_Offspring_0066.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,104},{68,40}}</string>
				<key>offset</key>
				<string>{7,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,80}</string>
			</dict>
			<key>CanibalBoos_Offspring_0068.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,56},{70,46}}</string>
				<key>offset</key>
				<string>{8,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,80}</string>
			</dict>
			<key>CanibalBoos_Offspring_0070.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,104},{70,44}}</string>
				<key>offset</key>
				<string>{8,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,80}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>CanibalBoos_Offspring.png</string>
			<key>realTextureFileName</key>
			<string>CanibalBoos_Offspring.png</string>
			<key>size</key>
			<string>{748,232}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>748</integer>
			<key>height</key>
			<integer>232</integer>
		</dict>
	</dict>
</plist>