<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>JungleSpiderMatriarch_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,46},{60,42}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>JungleSpiderMatriarch_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,46},{56,44}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>JungleSpiderMatriarch_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,42},{56,48}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>JungleSpiderMatriarch_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,88},{56,44}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>JungleSpiderMatriarch_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,126},{56,42}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>JungleSpiderMatriarch_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,94},{56,44}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>JungleSpiderMatriarch_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,46},{56,48}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>JungleSpiderMatriarch_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,88},{56,44}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>JungleSpiderMatriarch_0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,46},{58,42}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>JungleSpiderMatriarch_0028.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,130},{56,42}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>JungleSpiderMatriarch_0031.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,132},{58,40}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>JungleSpiderMatriarch_0033.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,90},{60,40}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>JungleSpiderMatriarch_0035.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,88},{60,40}}</string>
				<key>offset</key>
				<string>{-3,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>JungleSpiderMatriarch_0038.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,46},{58,42}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>JungleSpiderMatriarch_0039.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,46},{60,42}}</string>
				<key>offset</key>
				<string>{3,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>JungleSpiderMatriarch_0040.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,88},{64,38}}</string>
				<key>offset</key>
				<string>{5,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>JungleSpiderMatriarch_0042.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,0},{60,36}}</string>
				<key>offset</key>
				<string>{3,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>JungleSpiderMatriarch_0044.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,138},{56,40}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>JungleSpiderMatriarch_0070.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,0},{68,42}}</string>
				<key>offset</key>
				<string>{-3,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>JungleSpiderMatriarch_0071.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,0},{70,46}}</string>
				<key>offset</key>
				<string>{-4,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>JungleSpiderMatriarch_0072.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{72,46}}</string>
				<key>offset</key>
				<string>{-3,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>JungleSpiderMatriarch_0073.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,0},{64,46}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>JungleSpiderMatriarch_0074.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,0},{64,46}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>JungleSpiderMatriarch_0075.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,0},{64,46}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>JungleSpiderMatriarch_0076.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,0},{64,46}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>JungleSpiderMatriarch_0077.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,0},{64,44}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>JungleSpiderMatriarch_0079.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,0},{60,30}}</string>
				<key>offset</key>
				<string>{3,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>JungleSpiderMatriarch.png</string>
			<key>realTextureFileName</key>
			<string>JungleSpiderMatriarch.png</string>
			<key>size</key>
			<string>{650,178}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>650</integer>
			<key>height</key>
			<integer>178</integer>
		</dict>
	</dict>
</plist>