<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>CanibalShamanPriest_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,804},{34,40}}</string>
				<key>offset</key>
				<string>{2,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,536},{32,44}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,40},{32,46}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,580},{32,44}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,712},{32,42}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,164},{30,38}}</string>
				<key>offset</key>
				<string>{-2,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,202},{32,40}}</string>
				<key>offset</key>
				<string>{-1,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,754},{30,44}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,712},{30,46}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,624},{32,44}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,38},{34,42}}</string>
				<key>offset</key>
				<string>{2,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,250},{34,38}}</string>
				<key>offset</key>
				<string>{2,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0067.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,242},{32,40}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0068.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,202},{32,40}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0070.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,122},{32,40}}</string>
				<key>offset</key>
				<string>{-1,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0072.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,80},{32,40}}</string>
				<key>offset</key>
				<string>{-2,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0074.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,316},{33,40}}</string>
				<key>offset</key>
				<string>{-3,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0077.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,536},{30,44}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0078.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,668},{32,44}}</string>
				<key>offset</key>
				<string>{-4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0079.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,336},{34,46}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0080.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,382},{34,46}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0081.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,270},{34,46}}</string>
				<key>offset</key>
				<string>{-4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0082.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,488},{34,48}}</string>
				<key>offset</key>
				<string>{-4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0083.png</key>
			<dict>
				<key>frame</key>
				<string>{{38,220},{32,50}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0084.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,432},{30,54}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0085.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,282},{30,54}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0086.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,432},{30,56}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0087.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,94},{30,58}}</string>
				<key>offset</key>
				<string>{-3,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0088.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,58},{32,60}}</string>
				<key>offset</key>
				<string>{-3,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0089.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,118},{32,60}}</string>
				<key>offset</key>
				<string>{-4,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0090.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,282},{34,50}}</string>
				<key>offset</key>
				<string>{-4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0091.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,168},{34,52}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0092.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,114},{34,54}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0093.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,178},{34,56}}</string>
				<key>offset</key>
				<string>{-5,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0094.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,58},{34,56}}</string>
				<key>offset</key>
				<string>{-5,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0095.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{38,58}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0096.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,234},{38,48}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0097.png</key>
			<dict>
				<key>frame</key>
				<string>{{38,0},{38,50}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0107.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,486},{30,44}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0109.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,152},{32,50}}</string>
				<key>offset</key>
				<string>{-4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0111.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,332},{34,50}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0113.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,382},{34,50}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0115.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,202},{32,48}}</string>
				<key>offset</key>
				<string>{-4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0118.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,758},{30,46}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0120.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,428},{30,44}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0122.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,356},{28,44}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0123.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,38},{28,42}}</string>
				<key>offset</key>
				<string>{-1,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0128.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,122},{34,42}}</string>
				<key>offset</key>
				<string>{-7,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0130.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,136},{36,42}}</string>
				<key>offset</key>
				<string>{-7,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0132.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,44},{36,44}}</string>
				<key>offset</key>
				<string>{-8,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0138.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,50},{40,44}}</string>
				<key>offset</key>
				<string>{8,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0140.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,0},{40,44}}</string>
				<key>offset</key>
				<string>{8,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0142.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,0},{36,38}}</string>
				<key>offset</key>
				<string>{5,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0170.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,0},{38,40}}</string>
				<key>offset</key>
				<string>{-10,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0171.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,94},{38,42}}</string>
				<key>offset</key>
				<string>{-13,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0172.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,0},{38,38}}</string>
				<key>offset</key>
				<string>{-15,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0173.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,88},{44,34}}</string>
				<key>offset</key>
				<string>{-17,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0174.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,178},{44,24}}</string>
				<key>offset</key>
				<string>{-18,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanPriest_0176.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,288},{43,28}}</string>
				<key>offset</key>
				<string>{-19,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>CanibalShamanPriest.png</string>
			<key>realTextureFileName</key>
			<string>CanibalShamanPriest.png</string>
			<key>size</key>
			<string>{236,844}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>236</integer>
			<key>height</key>
			<integer>844</integer>
		</dict>
	</dict>
</plist>