<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>SaurianSavant_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,36},{40,36}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,52}</string>
			</dict>
			<key>SaurianSavant_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,36},{40,38}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,52}</string>
			</dict>
			<key>SaurianSavant_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,0},{40,40}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,52}</string>
			</dict>
			<key>SaurianSavant_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,36},{40,36}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,52}</string>
			</dict>
			<key>SaurianSavant_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,36},{40,36}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,52}</string>
			</dict>
			<key>SaurianSavant_0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,36},{40,40}}</string>
				<key>offset</key>
				<string>{4,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,52}</string>
			</dict>
			<key>SaurianSavant_0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,36},{40,38}}</string>
				<key>offset</key>
				<string>{4,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,52}</string>
			</dict>
			<key>SaurianSavant_0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,0},{40,36}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,52}</string>
			</dict>
			<key>SaurianSavant_0067.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,0},{40,36}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,52}</string>
			</dict>
			<key>SaurianSavant_0068.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,0},{40,36}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,52}</string>
			</dict>
			<key>SaurianSavant_0070.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,0},{40,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,52}</string>
			</dict>
			<key>SaurianSavant_0072.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,0},{40,36}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,52}</string>
			</dict>
			<key>SaurianSavant_0074.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,0},{40,36}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,52}</string>
			</dict>
			<key>SaurianSavant_0076.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,0},{40,36}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,52}</string>
			</dict>
			<key>SaurianSavant_0079.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,0},{48,36}}</string>
				<key>offset</key>
				<string>{8,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,52}</string>
			</dict>
			<key>SaurianSavant_0083.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{50,36}}</string>
				<key>offset</key>
				<string>{10,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,52}</string>
			</dict>
			<key>SaurianSavant_0087.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,0},{50,36}}</string>
				<key>offset</key>
				<string>{10,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,52}</string>
			</dict>
			<key>SaurianSavant_0091.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,0},{50,36}}</string>
				<key>offset</key>
				<string>{10,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,52}</string>
			</dict>
			<key>SaurianSavant_0095.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,0},{46,36}}</string>
				<key>offset</key>
				<string>{8,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,52}</string>
			</dict>
			<key>SaurianSavant_0098.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,0},{40,36}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,52}</string>
			</dict>
			<key>SaurianSavant_0101.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,0},{40,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,52}</string>
			</dict>
			<key>SaurianSavant_0103.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,0},{40,36}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,52}</string>
			</dict>
			<key>SaurianSavant_0105.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,0},{40,36}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,52}</string>
			</dict>
			<key>SaurianSavant_0116.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,0},{40,34}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,52}</string>
			</dict>
			<key>SaurianSavant_0118.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,0},{40,34}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,52}</string>
			</dict>
			<key>SaurianSavant_0120.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,0},{40,34}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,52}</string>
			</dict>
			<key>SaurianSavant_0122.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,0},{40,34}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,52}</string>
			</dict>
			<key>SaurianSavant_0135.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,0},{40,34}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,52}</string>
			</dict>
			<key>SaurianSavant_0140.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,0},{36,26}}</string>
				<key>offset</key>
				<string>{-14,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,52}</string>
			</dict>
			<key>SaurianSavant_0143.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,0},{36,22}}</string>
				<key>offset</key>
				<string>{-15,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,52}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>SaurianSavant.png</string>
			<key>realTextureFileName</key>
			<string>SaurianSavant.png</string>
			<key>size</key>
			<string>{996,76}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>996</integer>
			<key>height</key>
			<integer>76</integer>
		</dict>
	</dict>
</plist>