<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>zz_stone_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,0},{177,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,53}</string>
			</dict>
			<key>zz_stone_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{183,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,55}</string>
			</dict>
			<key>zz_stone_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,0},{173,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,53}</string>
			</dict>
			<key>zz_stone_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,0},{177,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,51}</string>
			</dict>
			<key>zz_stone_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,0},{177,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,55}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>zz_stone.png</string>
			<key>realTextureFileName</key>
			<string>zz_stone.png</string>
			<key>size</key>
			<string>{1024,64}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>64</integer>
		</dict>
	</dict>
</plist>