<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>CanibalShamanShield_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,84},{34,38}}</string>
				<key>offset</key>
				<string>{2,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanShield_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,0},{32,40}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanShield_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,88},{32,42}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanShield_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,0},{32,42}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanShield_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,40},{32,40}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanShield_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,204},{34,36}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanShield_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,122},{32,38}}</string>
				<key>offset</key>
				<string>{-1,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanShield_0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,198},{30,40}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanShield_0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,162},{30,42}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanShield_0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,42},{32,42}}</string>
				<key>offset</key>
				<string>{1,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanShield_0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,300},{34,40}}</string>
				<key>offset</key>
				<string>{2,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanShield_0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,162},{34,36}}</string>
				<key>offset</key>
				<string>{3,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanShield_0067.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,80},{32,38}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanShield_0068.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,240},{32,38}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanShield_0070.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,132},{36,42}}</string>
				<key>offset</key>
				<string>{-7,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanShield_0072.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,174},{36,42}}</string>
				<key>offset</key>
				<string>{-8,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanShield_0074.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,88},{36,44}}</string>
				<key>offset</key>
				<string>{-8,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanShield_0080.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{40,44}}</string>
				<key>offset</key>
				<string>{8,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanShield_0082.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,44},{40,44}}</string>
				<key>offset</key>
				<string>{8,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanShield_0084.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,342},{38,36}}</string>
				<key>offset</key>
				<string>{5,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanShield_0112.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,300},{34,42}}</string>
				<key>offset</key>
				<string>{-9,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanShield_0113.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,216},{36,42}}</string>
				<key>offset</key>
				<string>{-12,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanShield_0114.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,258},{36,42}}</string>
				<key>offset</key>
				<string>{-14,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanShield_0115.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,130},{41,32}}</string>
				<key>offset</key>
				<string>{-17,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanShield_0116.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,278},{41,22}}</string>
				<key>offset</key>
				<string>{-18,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>CanibalShamanShield_0118.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,240},{40,26}}</string>
				<key>offset</key>
				<string>{-18,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>CanibalShamanShield.png</string>
			<key>realTextureFileName</key>
			<string>CanibalShamanShield.png</string>
			<key>size</key>
			<string>{134,378}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>134</integer>
			<key>height</key>
			<integer>378</integer>
		</dict>
	</dict>
</plist>