<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>SaurianDarter_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,70},{24,32}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>SaurianDarter_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,0},{28,34}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>SaurianDarter_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,0},{28,36}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>SaurianDarter_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,32},{30,36}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>SaurianDarter_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,34},{28,34}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>SaurianDarter_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,100},{28,30}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>SaurianDarter_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,34},{30,32}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>SaurianDarter_0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,36},{28,34}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>SaurianDarter_0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,68},{26,34}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>SaurianDarter_0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,68},{24,30}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>SaurianDarter_0068.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,66},{30,34}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>SaurianDarter_0070.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,0},{32,34}}</string>
				<key>offset</key>
				<string>{-4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>SaurianDarter_0072.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,32},{32,34}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>SaurianDarter_0077.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{38,32}}</string>
				<key>offset</key>
				<string>{8,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>SaurianDarter_0079.png</key>
			<dict>
				<key>frame</key>
				<string>{{38,0},{36,32}}</string>
				<key>offset</key>
				<string>{7,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>SaurianDarter_0081.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,66},{28,32}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>SaurianDarter_0122.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,98},{27,28}}</string>
				<key>offset</key>
				<string>{-10,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>SaurianDarter_0123.png</key>
			<dict>
				<key>frame</key>
				<string>{{28,102},{26,28}}</string>
				<key>offset</key>
				<string>{-13,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>SaurianDarter_0124.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,92},{27,26}}</string>
				<key>offset</key>
				<string>{-15,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>SaurianDarter_0125.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,68},{32,24}}</string>
				<key>offset</key>
				<string>{-15,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>SaurianDarter_0126.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,20},{32,16}}</string>
				<key>offset</key>
				<string>{-15,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>SaurianDarter_0128.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,0},{32,20}}</string>
				<key>offset</key>
				<string>{-15,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>SaurianDarter.png</string>
			<key>realTextureFileName</key>
			<string>SaurianDarter.png</string>
			<key>size</key>
			<string>{194,130}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>194</integer>
			<key>height</key>
			<integer>130</integer>
		</dict>
	</dict>
</plist>