<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>AmazonianGirl_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,32},{32,32}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,84}</string>
			</dict>
			<key>AmazonianGirl_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,32},{32,32}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,84}</string>
			</dict>
			<key>AmazonianGirl_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,0},{32,34}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,84}</string>
			</dict>
			<key>AmazonianGirl_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,32},{32,34}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,84}</string>
			</dict>
			<key>AmazonianGirl_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,32},{32,34}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,84}</string>
			</dict>
			<key>AmazonianGirl_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,50},{32,30}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,84}</string>
			</dict>
			<key>AmazonianGirl_0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,52},{30,32}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,84}</string>
			</dict>
			<key>AmazonianGirl_0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,48},{32,32}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,84}</string>
			</dict>
			<key>AmazonianGirl_0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,52},{30,32}}</string>
				<key>offset</key>
				<string>{-4,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,84}</string>
			</dict>
			<key>AmazonianGirl_0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,0},{34,32}}</string>
				<key>offset</key>
				<string>{8,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,84}</string>
			</dict>
			<key>AmazonianGirl_0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,50},{34,30}}</string>
				<key>offset</key>
				<string>{8,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,84}</string>
			</dict>
			<key>AmazonianGirl_0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,0},{34,32}}</string>
				<key>offset</key>
				<string>{8,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,84}</string>
			</dict>
			<key>AmazonianGirl_0024.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{83,50}}</string>
				<key>offset</key>
				<string>{-14,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,84}</string>
			</dict>
			<key>AmazonianGirl_0026.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,0},{86,48}}</string>
				<key>offset</key>
				<string>{-8,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,84}</string>
			</dict>
			<key>AmazonianGirl_0028.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,0},{64,48}}</string>
				<key>offset</key>
				<string>{19,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,84}</string>
			</dict>
			<key>AmazonianGirl_0030.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,52}}</string>
				<key>offset</key>
				<string>{5,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,84}</string>
			</dict>
			<key>AmazonianGirl_0032.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,0},{84,48}}</string>
				<key>offset</key>
				<string>{-14,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,84}</string>
			</dict>
			<key>AmazonianGirl_0034.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,0},{64,32}}</string>
				<key>offset</key>
				<string>{-21,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,84}</string>
			</dict>
			<key>AmazonianGirl_0036.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,0},{46,32}}</string>
				<key>offset</key>
				<string>{-10,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,84}</string>
			</dict>
			<key>AmazonianGirl_0040.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,48},{28,30}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,84}</string>
			</dict>
			<key>AmazonianGirl_0041.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,32},{32,34}}</string>
				<key>offset</key>
				<string>{-6,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,84}</string>
			</dict>
			<key>AmazonianGirl_0042.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,48},{30,28}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,84}</string>
			</dict>
			<key>AmazonianGirl_0043.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,48},{32,24}}</string>
				<key>offset</key>
				<string>{-13,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,84}</string>
			</dict>
			<key>AmazonianGirl_0044.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,48},{32,18}}</string>
				<key>offset</key>
				<string>{-13,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,84}</string>
			</dict>
			<key>AmazonianGirl_0046.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,48},{32,20}}</string>
				<key>offset</key>
				<string>{-14,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,84}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>AmazonianGirl.png</string>
			<key>realTextureFileName</key>
			<string>AmazonianGirl.png</string>
			<key>size</key>
			<string>{613,84}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>613</integer>
			<key>height</key>
			<integer>84</integer>
		</dict>
	</dict>
</plist>