<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>wulf_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,32},{32,24}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>wulf_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,0},{34,28}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>wulf_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,0},{32,28}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>wulf_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,0},{32,28}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>wulf_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,30},{31,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>wulf_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,28},{30,24}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>wulf_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,32},{30,24}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>wulf_0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,52},{28,22}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>wulf_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,76},{28,22}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>wulf_0031.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,24},{34,24}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>wulf_0032.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,54},{34,22}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>wulf_0033.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,52},{36,22}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>wulf_0034.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,32},{36,22}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>wulf_0036.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,0},{36,24}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>wulf_0038.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,0},{36,24}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>wulf_0039.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,28},{34,24}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>wulf_0041.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,56},{34,22}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>wulf_0043.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,28},{34,24}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>wulf_0044.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,52},{34,24}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>wulf_0069.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,56},{12,14}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>wulf_0071.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,56},{24,22}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>wulf_0073.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,0},{30,28}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>wulf_0075.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,0},{32,30}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>wulf_0077.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{34,32}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>wulf_0079.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,0},{34,32}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>wulf_0081.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,0},{32,32}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>wulf_0083.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,24},{28,30}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>wulf_0085.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,56},{16,16}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>wulf.png</string>
			<key>realTextureFileName</key>
			<string>wulf.png</string>
			<key>size</key>
			<string>{332,98}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>332</integer>
			<key>height</key>
			<integer>98</integer>
		</dict>
	</dict>
</plist>