<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>CanibalShamanNecro_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,0},{34,40}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,86},{34,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,42},{32,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,40},{32,44}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,497},{32,42}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,358},{34,36}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,0},{32,40}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,539},{32,42}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,168},{32,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,84},{32,44}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,86},{34,42}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,128},{36,36}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0067.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,625},{32,40}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0070.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,316},{32,38}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0072.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,270},{32,38}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0074.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,212},{32,38}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0076.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,0},{35,40}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0078.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,280},{39,42}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0080.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,44},{39,44}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0082.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,238},{40,42}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0084.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,188},{40,42}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0086.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,144},{40,42}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0088.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,88},{40,42}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0090.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,44},{40,42}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0092.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,0},{40,42}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0094.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,322},{39,42}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0096.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,412},{39,41}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0103.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,164},{32,38}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0105.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,84},{32,38}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0107.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,406},{33,38}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0110.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,40},{32,44}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0112.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,188},{34,50}}</string>
				<key>offset</key>
				<string>{-3,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0114.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{36,50}}</string>
				<key>offset</key>
				<string>{-4,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0116.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,50},{36,50}}</string>
				<key>offset</key>
				<string>{-4,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0118.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,364},{34,48}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0121.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,270},{32,46}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0123.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,453},{32,44}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0125.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,581},{30,44}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0126.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,40},{30,40}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0127.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,581},{32,40}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0129.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,230},{36,42}}</string>
				<key>offset</key>
				<string>{-7,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0131.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,186},{36,42}}</string>
				<key>offset</key>
				<string>{-8,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0133.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,228},{36,42}}</string>
				<key>offset</key>
				<string>{-8,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0139.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,100},{40,44}}</string>
				<key>offset</key>
				<string>{8,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0141.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,0},{40,44}}</string>
				<key>offset</key>
				<string>{8,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0143.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,130},{38,38}}</string>
				<key>offset</key>
				<string>{5,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0171.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,364},{38,42}}</string>
				<key>offset</key>
				<string>{-11,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0172.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,144},{39,44}}</string>
				<key>offset</key>
				<string>{-14,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0173.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,280},{38,42}}</string>
				<key>offset</key>
				<string>{-16,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0174.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,322},{43,36}}</string>
				<key>offset</key>
				<string>{-18,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0175.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,128},{43,26}}</string>
				<key>offset</key>
				<string>{-19,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>CanibalShamanNecro_0177.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,453},{42,30}}</string>
				<key>offset</key>
				<string>{-19,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>CanibalShamanNecro.png</string>
			<key>realTextureFileName</key>
			<string>CanibalShamanNecro.png</string>
			<key>size</key>
			<string>{241,665}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>241</integer>
			<key>height</key>
			<integer>665</integer>
		</dict>
	</dict>
</plist>