<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>SaurianBroodguard_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,0},{38,38}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>SaurianBroodguard_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{38,42}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>SaurianBroodguard_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,42},{38,42}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>SaurianBroodguard_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,434},{34,36}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>SaurianBroodguard_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{38,114},{38,38}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>SaurianBroodguard_0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{38,74},{38,40}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>SaurianBroodguard_0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,84},{38,42}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>SaurianBroodguard_0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,126},{38,42}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>SaurianBroodguard_0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,206},{38,38}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>SaurianBroodguard_0067.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,244},{36,38}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>SaurianBroodguard_0068.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,282},{36,38}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>SaurianBroodguard_0070.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{36,38}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>SaurianBroodguard_0072.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,358},{36,38}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>SaurianBroodguard_0074.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,396},{36,38}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>SaurianBroodguard_0076.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,168},{42,38}}</string>
				<key>offset</key>
				<string>{6,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>SaurianBroodguard_0078.png</key>
			<dict>
				<key>frame</key>
				<string>{{38,38},{44,36}}</string>
				<key>offset</key>
				<string>{7,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>SaurianBroodguard_0080.png</key>
			<dict>
				<key>frame</key>
				<string>{{38,0},{42,38}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>SaurianBroodguard_0098.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,244},{36,28}}</string>
				<key>offset</key>
				<string>{-11,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>SaurianBroodguard_0099.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,470},{36,30}}</string>
				<key>offset</key>
				<string>{-13,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>SaurianBroodguard_0100.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,434},{38,28}}</string>
				<key>offset</key>
				<string>{-14,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>SaurianBroodguard_0101.png</key>
			<dict>
				<key>frame</key>
				<string>{{38,206},{37,26}}</string>
				<key>offset</key>
				<string>{-15,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>SaurianBroodguard_0102.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,152},{38,20}}</string>
				<key>offset</key>
				<string>{-15,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>SaurianBroodguard.png</string>
			<key>realTextureFileName</key>
			<string>SaurianBroodguard.png</string>
			<key>size</key>
			<string>{118,500}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>118</integer>
			<key>height</key>
			<integer>500</integer>
		</dict>
	</dict>
</plist>