<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lavaElemental_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,138},{74,68}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,150},{72,70}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,214},{72,70}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,154},{70,72}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,68},{70,74}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,142},{68,74}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,144},{71,72}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,224},{66,70}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,288},{66,69}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,290},{66,70}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,216},{66,72}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,0},{72,74}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,74},{68,76}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,150},{68,74}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0022.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,216},{68,74}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0024.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,156},{72,70}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0025.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,68},{72,70}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0073.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,278},{70,68}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0076.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,82},{78,68}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0077.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,0},{80,68}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0078.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,0},{78,68}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0079.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,76},{70,78}}</string>
				<key>offset</key>
				<string>{-7,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0081.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,70},{67,82}}</string>
				<key>offset</key>
				<string>{-10,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0083.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,0},{70,82}}</string>
				<key>offset</key>
				<string>{-11,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0085.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,74},{72,82}}</string>
				<key>offset</key>
				<string>{-11,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0087.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,0},{78,68}}</string>
				<key>offset</key>
				<string>{15,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0089.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,294},{82,56}}</string>
				<key>offset</key>
				<string>{17,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0091.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,152},{82,62}}</string>
				<key>offset</key>
				<string>{17,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0093.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,220},{84,58}}</string>
				<key>offset</key>
				<string>{18,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0100.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,357},{64,66}}</string>
				<key>offset</key>
				<string>{8,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0103.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,206},{70,68}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0126.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,350},{62,70}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0127.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,274},{64,72}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0128.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,68},{70,76}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0129.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,82},{74,78}}</string>
				<key>offset</key>
				<string>{2,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0130.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,0},{80,76}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0131.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,0},{82,70}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0132.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,0},{86,74}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0133.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,82},{88,80}}</string>
				<key>offset</key>
				<string>{2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0134.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,82},{90,78}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0135.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,0},{94,82}}</string>
				<key>offset</key>
				<string>{2,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0136.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,80},{96,80}}</string>
				<key>offset</key>
				<string>{3,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0137.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,0},{98,80}}</string>
				<key>offset</key>
				<string>{3,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0138.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,0},{102,82}}</string>
				<key>offset</key>
				<string>{3,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0139.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{104,82}}</string>
				<key>offset</key>
				<string>{3,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0140.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,200},{106,40}}</string>
				<key>offset</key>
				<string>{3,-27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0141.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,226},{108,38}}</string>
				<key>offset</key>
				<string>{3,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0142.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,226},{110,38}}</string>
				<key>offset</key>
				<string>{3,-27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0143.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,160},{112,40}}</string>
				<key>offset</key>
				<string>{3,-27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0144.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,346},{114,40}}</string>
				<key>offset</key>
				<string>{3,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0145.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,386},{114,40}}</string>
				<key>offset</key>
				<string>{3,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0146.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,160},{114,38}}</string>
				<key>offset</key>
				<string>{3,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
			<key>lavaElemental_0147.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,198},{114,38}}</string>
				<key>offset</key>
				<string>{3,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>lavaElemental.png</string>
			<key>realTextureFileName</key>
			<string>lavaElemental.png</string>
			<key>size</key>
			<string>{1024,426}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>426</integer>
		</dict>
	</dict>
</plist>