<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Soldier_Assassin_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,64},{24,30}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,62},{28,30}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,124},{28,32}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,104},{28,34}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,162},{28,32}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,156},{28,28}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,128},{27,30}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,74},{28,30}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,74},{30,30}}</string>
				<key>offset</key>
				<string>{5,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,32},{30,28}}</string>
				<key>offset</key>
				<string>{5,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,32},{30,28}}</string>
				<key>offset</key>
				<string>{5,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,32},{30,28}}</string>
				<key>offset</key>
				<string>{5,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,60},{28,28}}</string>
				<key>offset</key>
				<string>{4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,33},{35,33}}</string>
				<key>offset</key>
				<string>{-7,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,0},{37,33}}</string>
				<key>offset</key>
				<string>{-8,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,31},{38,31}}</string>
				<key>offset</key>
				<string>{-8,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0022.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,0},{39,31}}</string>
				<key>offset</key>
				<string>{-9,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,70},{39,32}}</string>
				<key>offset</key>
				<string>{-9,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0029.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,102},{39,32}}</string>
				<key>offset</key>
				<string>{-9,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0030.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,0},{38,32}}</string>
				<key>offset</key>
				<string>{-8,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0031.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,0},{38,32}}</string>
				<key>offset</key>
				<string>{-8,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0032.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,0},{37,32}}</string>
				<key>offset</key>
				<string>{-8,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0033.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,30},{40,34}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0034.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,36},{40,34}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0035.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,0},{34,38}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0037.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,64},{32,40}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0039.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,32},{28,42}}</string>
				<key>offset</key>
				<string>{3,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0041.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,38},{29,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0043.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,94},{24,30}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0044.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,0},{38,32}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0045.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,0},{42,34}}</string>
				<key>offset</key>
				<string>{-10,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0046.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,34},{40,32}}</string>
				<key>offset</key>
				<string>{-13,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0047.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,0},{38,32}}</string>
				<key>offset</key>
				<string>{-17,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0048.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,134},{34,28}}</string>
				<key>offset</key>
				<string>{-19,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0049.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,96},{23,28}}</string>
				<key>offset</key>
				<string>{-20,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0050.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,66},{23,30}}</string>
				<key>offset</key>
				<string>{-20,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0051.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,66},{29,32}}</string>
				<key>offset</key>
				<string>{-14,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0052.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,66},{30,32}}</string>
				<key>offset</key>
				<string>{-8,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0053.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,98},{30,30}}</string>
				<key>offset</key>
				<string>{-4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0054.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,60},{24,30}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0062.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{58,36}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0064.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,0},{48,30}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0066.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,138},{32,28}}</string>
				<key>offset</key>
				<string>{-4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0067.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,60},{30,28}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0069.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,88},{24,30}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0070.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,98},{28,30}}</string>
				<key>offset</key>
				<string>{-8,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0071.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,32},{29,30}}</string>
				<key>offset</key>
				<string>{-10,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0072.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,104},{29,28}}</string>
				<key>offset</key>
				<string>{-12,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0073.png</key>
			<dict>
				<key>frame</key>
				<string>{{28,166},{34,24}}</string>
				<key>offset</key>
				<string>{-13,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0074.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,104},{34,18}}</string>
				<key>offset</key>
				<string>{-14,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Soldier_Assassin_0076.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,88},{33,20}}</string>
				<key>offset</key>
				<string>{-15,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Soldier_Assassin.png</string>
			<key>realTextureFileName</key>
			<string>Soldier_Assassin.png</string>
			<key>size</key>
			<string>{447,194}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>447</integer>
			<key>height</key>
			<integer>194</integer>
		</dict>
	</dict>
</plist>