<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>desertImmortal_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,94},{38,42}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>desertImmortal_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,140},{36,46}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>desertImmortal_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,44},{40,46}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>desertImmortal_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,48},{40,46}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>desertImmortal_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,136},{40,44}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>desertImmortal_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,88},{44,38}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>desertImmortal_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,90},{42,42}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>desertImmortal_0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,48},{40,46}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>desertImmortal_0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,94},{38,46}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>desertImmortal_0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,180},{36,46}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>desertImmortal_0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,132},{36,44}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>desertImmortal_0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,0},{38,38}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>desertImmortal_0067.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,94},{42,42}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>desertImmortal_0068.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,0},{52,44}}</string>
				<key>offset</key>
				<string>{-11,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>desertImmortal_0070.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,0},{54,44}}</string>
				<key>offset</key>
				<string>{-11,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>desertImmortal_0072.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,0},{48,46}}</string>
				<key>offset</key>
				<string>{8,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>desertImmortal_0074.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,44},{48,46}}</string>
				<key>offset</key>
				<string>{8,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>desertImmortal_0076.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,48},{46,36}}</string>
				<key>offset</key>
				<string>{9,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>desertImmortal_0078.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,0},{38,48}}</string>
				<key>offset</key>
				<string>{-7,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>desertImmortal_0080.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,46},{38,48}}</string>
				<key>offset</key>
				<string>{-8,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>desertImmortal_0082.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{50,48}}</string>
				<key>offset</key>
				<string>{10,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>desertImmortal_0084.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,0},{50,48}}</string>
				<key>offset</key>
				<string>{10,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>desertImmortal_0086.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,90},{50,36}}</string>
				<key>offset</key>
				<string>{11,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>desertImmortal_0111.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,0},{34,34}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>desertImmortal_0113.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,168},{38,40}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>desertImmortal_0114.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,186},{38,40}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>desertImmortal_0115.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,126},{40,42}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>desertImmortal_0117.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,0},{40,40}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>desertImmortal_0119.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,0},{36,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>desertImmortal_0121.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,40},{30,42}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>desertImmortal_0123.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,46},{26,42}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>desertImmortal_0124.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,0},{26,42}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>desertImmortal.png</string>
			<key>realTextureFileName</key>
			<string>desertImmortal.png</string>
			<key>size</key>
			<string>{466,226}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>466</integer>
			<key>height</key>
			<integer>226</integer>
		</dict>
	</dict>
</plist>