<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>desertWolf_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,0},{40,30}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>desertWolf_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,56},{42,34}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>desertWolf_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,54},{40,36}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>desertWolf_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,58},{42,34}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>desertWolf_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,92},{38,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>desertWolf_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,0},{36,30}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>desertWolf_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,28},{36,28}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>desertWolf_0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,30},{34,28}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>desertWolf_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,28},{34,28}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>desertWolf_0031.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,28},{42,28}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>desertWolf_0032.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,28},{42,28}}</string>
				<key>offset</key>
				<string>{-4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>desertWolf_0033.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,90},{44,28}}</string>
				<key>offset</key>
				<string>{-4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>desertWolf_0034.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,0},{44,28}}</string>
				<key>offset</key>
				<string>{-5,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>desertWolf_0036.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,56},{44,30}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>desertWolf_0038.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,86},{44,30}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>desertWolf_0039.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,54},{42,28}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>desertWolf_0041.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,0},{42,28}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>desertWolf_0043.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,0},{44,28}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>desertWolf_0044.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,0},{42,28}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>desertWolf_0069.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,84},{22,24}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>desertWolf_0071.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,50},{42,38}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>desertWolf_0073.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,0},{54,50}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>desertWolf_0075.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,0},{58,54}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>desertWolf_0077.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{60,58}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>desertWolf_0079.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,0},{60,56}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>desertWolf_0081.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,0},{58,56}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>desertWolf_0083.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,0},{50,54}}</string>
				<key>offset</key>
				<string>{7,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>desertWolf_0085.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,56},{28,28}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>desertWolf.png</string>
			<key>realTextureFileName</key>
			<string>desertWolf.png</string>
			<key>size</key>
			<string>{588,124}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>588</integer>
			<key>height</key>
			<integer>124</integer>
		</dict>
	</dict>
</plist>