<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>SaurianMyrmidon_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,114},{48,52}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,56},{46,56}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,56},{48,58}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,112},{48,56}}</string>
				<key>offset</key>
				<string>{-2,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,138},{46,54}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,166},{48,50}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,190},{46,52}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,154},{44,56}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,86},{44,58}}</string>
				<key>offset</key>
				<string>{-2,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,0},{46,58}}</string>
				<key>offset</key>
				<string>{-2,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,58},{50,54}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,88},{50,50}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0067.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,216},{46,52}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0068.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,228},{46,52}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0070.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,210},{40,58}}</string>
				<key>offset</key>
				<string>{-5,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0072.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,168},{40,60}}</string>
				<key>offset</key>
				<string>{-5,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0074.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,188},{40,60}}</string>
				<key>offset</key>
				<string>{-6,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0077.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,0},{60,58}}</string>
				<key>offset</key>
				<string>{9,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0079.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,0},{60,56}}</string>
				<key>offset</key>
				<string>{9,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0083.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,52},{44,46}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0085.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,50},{46,46}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0087.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,0},{42,52}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0093.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,106},{52,48}}</string>
				<key>offset</key>
				<string>{8,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0095.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,0},{54,56}}</string>
				<key>offset</key>
				<string>{9,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0097.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,50},{52,56}}</string>
				<key>offset</key>
				<string>{9,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0098.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,58},{52,40}}</string>
				<key>offset</key>
				<string>{9,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0100.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,0},{52,35}}</string>
				<key>offset</key>
				<string>{10,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0102.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,0},{52,37}}</string>
				<key>offset</key>
				<string>{10,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0107.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,0},{46,52}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0109.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,0},{46,50}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0111.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,138},{48,52}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0113.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,42},{68,44}}</string>
				<key>offset</key>
				<string>{14,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0114.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,0},{72,44}}</string>
				<key>offset</key>
				<string>{16,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0115.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,0},{72,42}}</string>
				<key>offset</key>
				<string>{16,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0116.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,146},{66,42}}</string>
				<key>offset</key>
				<string>{13,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0117.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,102},{66,44}}</string>
				<key>offset</key>
				<string>{12,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0118.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,44},{68,44}}</string>
				<key>offset</key>
				<string>{13,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0119.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,52},{68,50}}</string>
				<key>offset</key>
				<string>{13,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0120.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,0},{66,50}}</string>
				<key>offset</key>
				<string>{12,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>SaurianMyrmidon_0121.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{70,52}}</string>
				<key>offset</key>
				<string>{11,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>SaurianMyrmidon.png</string>
			<key>realTextureFileName</key>
			<string>SaurianMyrmidon.png</string>
			<key>size</key>
			<string>{738,280}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>738</integer>
			<key>height</key>
			<integer>280</integer>
		</dict>
	</dict>
</plist>