<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>desertArcher_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,70},{32,30}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>desertArcher_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,234},{30,32}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>desertArcher_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,234},{30,34}}</string>
				<key>offset</key>
				<string>{-4,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>desertArcher_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,70},{32,34}}</string>
				<key>offset</key>
				<string>{-5,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>desertArcher_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,138},{32,32}}</string>
				<key>offset</key>
				<string>{-5,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>desertArcher_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,186},{32,28}}</string>
				<key>offset</key>
				<string>{-4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>desertArcher_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,0},{32,30}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>desertArcher_0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,170},{32,32}}</string>
				<key>offset</key>
				<string>{-4,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>desertArcher_0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,268},{30,34}}</string>
				<key>offset</key>
				<string>{-3,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>desertArcher_0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,104},{32,34}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>desertArcher_0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,266},{30,32}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>desertArcher_0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,60},{32,28}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>desertArcher_0067.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,30},{32,30}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>desertArcher_0068.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,324},{28,28}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>desertArcher_0071.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,160},{36,26}}</string>
				<key>offset</key>
				<string>{6,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>desertArcher_0075.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,0},{28,30}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>desertArcher_0077.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,202},{32,32}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>desertArcher_0078.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,36},{34,34}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>desertArcher_0080.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{34,36}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>desertArcher_0081.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,100},{32,30}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>desertArcher_0082.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,88},{32,26}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>desertArcher_0084.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,30},{30,28}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>desertArcher_0086.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,0},{30,28}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>desertArcher_0112.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,130},{32,30}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>desertArcher_0113.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,114},{27,30}}</string>
				<key>offset</key>
				<string>{-11,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>desertArcher_0114.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,298},{27,30}}</string>
				<key>offset</key>
				<string>{-13,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>desertArcher_0115.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,234},{28,28}}</string>
				<key>offset</key>
				<string>{-14,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>desertArcher_0116.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,302},{44,22}}</string>
				<key>offset</key>
				<string>{-5,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>desertArcher_0117.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,214},{30,20}}</string>
				<key>offset</key>
				<string>{-13,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>desertArcher_0119.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,262},{30,22}}</string>
				<key>offset</key>
				<string>{-13,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>desertArcher.png</string>
			<key>realTextureFileName</key>
			<string>desertArcher.png</string>
			<key>size</key>
			<string>{124,352}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>124</integer>
			<key>height</key>
			<integer>352</integer>
		</dict>
	</dict>
</plist>