<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hero_archer_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,38},{44,36}}</string>
				<key>offset</key>
				<string>{0,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,852},{43,40}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,608},{43,42}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,178},{43,38}}</string>
				<key>offset</key>
				<string>{0,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,138},{41,40}}</string>
				<key>offset</key>
				<string>{1,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,810},{41,42}}</string>
				<key>offset</key>
				<string>{1,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,516},{41,46}}</string>
				<key>offset</key>
				<string>{1,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,562},{41,46}}</string>
				<key>offset</key>
				<string>{1,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,0},{41,40}}</string>
				<key>offset</key>
				<string>{1,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,958},{45,38}}</string>
				<key>offset</key>
				<string>{-1,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,772},{46,38}}</string>
				<key>offset</key>
				<string>{-1,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0025.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,694},{47,38}}</string>
				<key>offset</key>
				<string>{-2,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0028.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,908},{41,50}}</string>
				<key>offset</key>
				<string>{1,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0036.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,0},{43,36}}</string>
				<key>offset</key>
				<string>{0,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0038.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,666},{43,74}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0039.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{45,74}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0040.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,74},{45,74}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0041.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,148},{44,74}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0042.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,222},{44,74}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0043.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,296},{44,74}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0044.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,370},{44,74}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0045.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,444},{44,74}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0046.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,518},{44,74}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0047.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,592},{44,74}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0048.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,740},{44,72}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0049.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,666},{44,68}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0050.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,920},{45,52}}</string>
				<key>offset</key>
				<string>{0,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0051.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,732},{44,40}}</string>
				<key>offset</key>
				<string>{0,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0054.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,40},{41,40}}</string>
				<key>offset</key>
				<string>{1,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0056.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,852},{41,42}}</string>
				<key>offset</key>
				<string>{1,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0057.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,608},{41,46}}</string>
				<key>offset</key>
				<string>{1,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0059.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,148},{42,46}}</string>
				<key>offset</key>
				<string>{2,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0060.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,0},{42,46}}</string>
				<key>offset</key>
				<string>{2,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0061.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,46},{42,46}}</string>
				<key>offset</key>
				<string>{2,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0063.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,92},{42,46}}</string>
				<key>offset</key>
				<string>{2,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0064.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,194},{42,46}}</string>
				<key>offset</key>
				<string>{2,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0065.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,240},{42,46}}</string>
				<key>offset</key>
				<string>{2,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0066.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,286},{42,46}}</string>
				<key>offset</key>
				<string>{2,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0067.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,332},{42,46}}</string>
				<key>offset</key>
				<string>{2,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0069.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,378},{42,46}}</string>
				<key>offset</key>
				<string>{2,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0070.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,810},{44,46}}</string>
				<key>offset</key>
				<string>{2,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0081.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,120},{43,38}}</string>
				<key>offset</key>
				<string>{0,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0092.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,216},{42,34}}</string>
				<key>offset</key>
				<string>{1,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0093.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,250},{42,32}}</string>
				<key>offset</key>
				<string>{1,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0094.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,282},{42,32}}</string>
				<key>offset</key>
				<string>{1,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0095.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,74},{43,36}}</string>
				<key>offset</key>
				<string>{0,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0096.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,892},{43,40}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0097.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,958},{44,44}}</string>
				<key>offset</key>
				<string>{0,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0098.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,920},{45,48}}</string>
				<key>offset</key>
				<string>{-1,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0099.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,972},{46,50}}</string>
				<key>offset</key>
				<string>{-1,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0100.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,868},{48,52}}</string>
				<key>offset</key>
				<string>{0,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0101.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,734},{50,54}}</string>
				<key>offset</key>
				<string>{0,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0102.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,812},{51,56}}</string>
				<key>offset</key>
				<string>{-1,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0103.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,868},{53,40}}</string>
				<key>offset</key>
				<string>{-1,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0104.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,810},{41,42}}</string>
				<key>offset</key>
				<string>{1,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0105.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,424},{42,46}}</string>
				<key>offset</key>
				<string>{1,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0106.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,470},{42,46}}</string>
				<key>offset</key>
				<string>{1,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0107.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,968},{42,50}}</string>
				<key>offset</key>
				<string>{1,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0108.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,968},{42,50}}</string>
				<key>offset</key>
				<string>{1,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0109.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,0},{42,38}}</string>
				<key>offset</key>
				<string>{1,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0110.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,80},{41,40}}</string>
				<key>offset</key>
				<string>{1,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0111.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,894},{41,42}}</string>
				<key>offset</key>
				<string>{1,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0112.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,650},{41,44}}</string>
				<key>offset</key>
				<string>{1,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0113.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,516},{41,46}}</string>
				<key>offset</key>
				<string>{1,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0114.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,562},{41,46}}</string>
				<key>offset</key>
				<string>{1,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0123.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,788},{33,22}}</string>
				<key>offset</key>
				<string>{-16,-33}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>hero_archer_0125.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,932},{35,26}}</string>
				<key>offset</key>
				<string>{-17,-32}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hero_archer.png</string>
			<key>realTextureFileName</key>
			<string>hero_archer.png</string>
			<key>size</key>
			<string>{219,1022}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>219</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>