<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Templar_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,66},{32,32}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,100},{28,32}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,70},{38,28}}</string>
				<key>offset</key>
				<string>{-6,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,0},{42,30}}</string>
				<key>offset</key>
				<string>{-8,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,0},{42,30}}</string>
				<key>offset</key>
				<string>{-9,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,34},{44,32}}</string>
				<key>offset</key>
				<string>{-9,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,34},{44,32}}</string>
				<key>offset</key>
				<string>{-10,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,0},{44,28}}</string>
				<key>offset</key>
				<string>{-9,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,0},{48,32}}</string>
				<key>offset</key>
				<string>{-12,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{50,34}}</string>
				<key>offset</key>
				<string>{-12,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,0},{50,34}}</string>
				<key>offset</key>
				<string>{-12,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,0},{44,34}}</string>
				<key>offset</key>
				<string>{10,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,32},{44,34}}</string>
				<key>offset</key>
				<string>{10,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0022.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,66},{42,24}}</string>
				<key>offset</key>
				<string>{11,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,30},{42,26}}</string>
				<key>offset</key>
				<string>{11,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0025.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,30},{42,26}}</string>
				<key>offset</key>
				<string>{11,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0033.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,90},{34,28}}</string>
				<key>offset</key>
				<string>{-5,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0036.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,56},{38,28}}</string>
				<key>offset</key>
				<string>{-6,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0062.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,68},{34,30}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0063.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,66},{34,30}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0064.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,82},{38,28}}</string>
				<key>offset</key>
				<string>{-6,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0067.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,66},{30,34}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0069.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,96},{26,38}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0071.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,74},{26,38}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0073.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,0},{28,40}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0075.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,28},{28,40}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0077.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,30},{28,40}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0079.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,34},{28,40}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0083.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,0},{48,34}}</string>
				<key>offset</key>
				<string>{8,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0085.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,34},{44,34}}</string>
				<key>offset</key>
				<string>{12,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0087.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,0},{44,30}}</string>
				<key>offset</key>
				<string>{12,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0089.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,56},{42,26}}</string>
				<key>offset</key>
				<string>{11,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0091.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,132},{28,26}}</string>
				<key>offset</key>
				<string>{4,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0094.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,98},{30,28}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0097.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,98},{24,28}}</string>
				<key>offset</key>
				<string>{-7,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0098.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,112},{26,30}}</string>
				<key>offset</key>
				<string>{-9,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0099.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,98},{26,28}}</string>
				<key>offset</key>
				<string>{-12,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0100.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,118},{32,24}}</string>
				<key>offset</key>
				<string>{-14,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0101.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,126},{32,16}}</string>
				<key>offset</key>
				<string>{-15,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>Templar_0103.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,126},{32,18}}</string>
				<key>offset</key>
				<string>{-16,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Templar.png</string>
			<key>realTextureFileName</key>
			<string>Templar.png</string>
			<key>size</key>
			<string>{440,158}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>440</integer>
			<key>height</key>
			<integer>158</integer>
		</dict>
	</dict>
</plist>