<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>desertMunra_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,87},{38,36}}</string>
				<key>offset</key>
				<string>{2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,86},{36,36}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,118},{38,36}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,46},{36,36}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,46},{36,36}}</string>
				<key>offset</key>
				<string>{3,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,80},{36,34}}</string>
				<key>offset</key>
				<string>{3,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,46},{36,36}}</string>
				<key>offset</key>
				<string>{3,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,46},{36,36}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,88},{38,36}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,46},{36,36}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,46},{38,36}}</string>
				<key>offset</key>
				<string>{2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,46},{38,34}}</string>
				<key>offset</key>
				<string>{2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0073.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,46},{36,36}}</string>
				<key>offset</key>
				<string>{2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0076.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,46},{36,36}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0078.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,80},{34,36}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0080.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,114},{34,36}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0083.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,46},{36,36}}</string>
				<key>offset</key>
				<string>{6,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0085.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,72},{42,34}}</string>
				<key>offset</key>
				<string>{10,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0087.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,36},{44,36}}</string>
				<key>offset</key>
				<string>{11,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0089.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,41},{42,36}}</string>
				<key>offset</key>
				<string>{10,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0091.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,46},{36,36}}</string>
				<key>offset</key>
				<string>{5,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0096.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,46},{30,34}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0098.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,46},{30,34}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0101.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,46},{34,36}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0103.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,0},{36,48}}</string>
				<key>offset</key>
				<string>{-4,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0105.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,42},{36,46}}</string>
				<key>offset</key>
				<string>{-4,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0107.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,0},{36,46}}</string>
				<key>offset</key>
				<string>{-4,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0113.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,46},{30,44}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0115.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,80},{30,34}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0120.png</key>
			<dict>
				<key>frame</key>
				<string>{{38,46},{38,36}}</string>
				<key>offset</key>
				<string>{2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0122.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,46},{38,34}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0125.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,46},{38,34}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0127.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,0},{46,36}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0129.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,0},{44,46}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0131.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,0},{47,46}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0133.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{48,46}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0135.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,0},{48,46}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0137.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,0},{48,46}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0139.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,0},{48,46}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0141.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,0},{48,46}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0143.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,0},{48,46}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0145.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,0},{48,46}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0147.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,0},{48,46}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0149.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,0},{48,46}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0151.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,0},{48,46}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0153.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,0},{48,46}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0155.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,0},{48,46}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0157.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,0},{48,46}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0159.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,0},{48,46}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0161.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,0},{46,46}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0163.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,0},{42,42}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0165.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,46},{36,36}}</string>
				<key>offset</key>
				<string>{2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0189.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,46},{32,40}}</string>
				<key>offset</key>
				<string>{-1,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0190.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,80},{32,40}}</string>
				<key>offset</key>
				<string>{-1,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0191.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,46},{32,36}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0192.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,46},{32,36}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0193.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,46},{34,40}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0194.png</key>
			<dict>
				<key>frame</key>
				<string>{{38,82},{34,40}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0195.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,48},{38,41}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0196.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,0},{38,41}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0197.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,46},{34,41}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0198.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,77},{34,41}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0199.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,80},{26,36}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>desertMunra_0200.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,88},{26,36}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>desertMunra.png</string>
			<key>realTextureFileName</key>
			<string>desertMunra.png</string>
			<key>size</key>
			<string>{1011,154}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1011</integer>
			<key>height</key>
			<integer>154</integer>
		</dict>
	</dict>
</plist>