<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Template_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0101.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,1},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0102.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,1},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0103.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,1},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0104.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,1},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0105.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,1},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0201.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,1},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0202.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,1},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0203.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,1},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0204.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,1},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0205.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,1},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0206.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,1},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0207.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,1},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0301.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,55},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0302.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,55},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0303.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,55},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0304.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,55},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0305.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,55},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0306.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,55},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0401.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,55},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0402.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,55},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0403.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,55},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0404.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,55},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0405.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,55},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0406.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,55},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0407.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,55},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0408.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,109},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0409.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,109},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0410.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,109},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0411.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,109},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0412.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,109},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0413.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,109},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0414.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,109},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0415.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,109},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0416.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,109},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0501.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,109},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0502.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,109},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0503.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,109},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0504.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,109},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0505.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,163},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0506.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,163},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0507.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,163},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0508.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,163},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0509.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,163},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0510.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,163},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0511.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,163},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0601.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,163},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0602.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,163},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0603.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,163},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0604.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,163},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>Template_0605.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,163},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Template.png</string>
			<key>realTextureFileName</key>
			<string>Template.png</string>
			<key>size</key>
			<string>{1024,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>